Source: x11proto-bigreqs
Section: x11
Priority: optional
Maintainer: YoungHoon Jung <yhoon.jung@samsung.com>, SangJin Lee <lsj119@samsung.com>, Ubuntu Core Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Uploaders: SooChan Lim <sc1.lim@samsung.com>, David Nusinow <dnusinow@debian.org>, Andres Salomon <dilinger@debian.org>, Julien Cristau <jcristau@debian.org>
Build-Depends:  debhelper (>= 5.0.0), automake, xutils-dev (>= 1:7.5-1slp2)
Standards-Version: 3.8.3

Package: x11proto-bigreqs-dev
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: X11 Big Requests extension wire protocol
 This package provides the wire protocol for the BIG-REQUESTS extension, used to
 send larger requests than usual in order to avoid fragmentation.
 .
 More information about X.Org can be found at:
 <URL:http://xorg.freedesktop.org>
 <URL:http://lists.freedesktop.org/mailman/listinfo/xorg>
